module <moduleName>
 #(
	<parameters>
)
(
	<ports>
);

	<localParameters>

	<logicRegisters>

	<controlRegisterFFs>

	<statusRegisterFFs>

	<readLogicComb>

	<constructDataComb>

	<driveOutputsComb>

endmodule
